/*Gillian Maxwell 4/16/2022 8:24 PM*/ 
header{
    display: block;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
}

body{
    margin:0;padding:0
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 #navigation li {
    float: left;
  }
  
 #navigation li a {
    display: block;
    color: rgb(238, 224, 234);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 #navigation li a:hover {
    background-color: #111;
  }

caption{
    display:block ; 
    text-align:center;
    padding: 3px;
    background-color: rgb(234, 197, 238);
    color: black; 
    border-style: double;
    border-color:black;
}

#TableauStyle{
    color:rgb(180, 135, 177)
}

tableauPlaceholder{
    width: 600px;
}

footer {
    text-align: center; 
    padding: 3px;
    background-color: black;
    color: white;
}

  
  