/*Gillian Maxwell 4/16/2022 8:34 P.M.*/

body { 
    background-color: rgb(236, 238, 221); 
}

h1{
    color: black;
}

p{
    color: rgb(104, 100, 100)
}

div.post-preview>a:visited,
div.post-preview>a:link,
div.post-preview>a:active,
div.post-preview>a:hover{
    color: black;
}

a#Instagram:link,
a#Instagram:visited {
    color:rgb(27, 24, 190)
}

a#Instagram:hover, 
a#Instagram:active {
    color:rgb(166, 166, 255)
}

a#Blue:link,
a#Blue:visited {
    color:rgb(27, 24, 190)
}

a#Blue:hover,
a#Blue:active {
    color:rgb(166, 166, 255)
}

#captionbox{
    flex: 50% ;
}

